@import '../shared/styles/components/index.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 16px;
    color: theme('colors.slate.700');
  }

  body {
    position: relative;
    background-color: theme('colors.slate.100');
    background-image: url('/assets/images/lines.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 100px;
  }

  #app-root {
    @apply m-0 ml-auto mr-auto flex h-full min-h-screen w-full max-w-7xl flex-col justify-between;
  }

  #notify-root {
    @apply fixed bottom-0 right-0 h-fit w-80 lg:top-0 lg:w-full;
  }

  mark {
    @apply bg-transparent text-emerald-500;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-transition: 'color 9999s ease-out, background-color 9999s ease-out';
    -webkit-transition-delay: 9999s;
  }

  html.dark {
    color: theme('colors.slate.400');
  }

  .dark body {
    background-color: theme('colors.slate.800');
  }
}
