@import '../shared/styles/components/index.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 16px;
    color: theme('colors.gray.DEFAULT');
  }

  body {
    background-color: theme('colors.gray.50');
    background-image: url('/assets/images/lines.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 100px;
  }

  .dark > body {
    background-color: theme('colors.gray.600');
  }

  mark {
    @apply bg-transparent text-primary;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-transition: 'color 9999s ease-out, background-color 9999s ease-out';
    -webkit-transition-delay: 9999s;
  }
}

#app-root {
  @apply m-0 ml-auto mr-auto flex h-full min-h-screen w-full max-w-7xl flex-col justify-between;
}
